html,body{
	height:100%;
	width:100%;
	margin:0;
	background-color:#f5f5f5;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input[type='text']{
	border: 1px solid #dce0e0;
	line-height:2;
	border-bottom-left-radius:2px;
	border-top-left-radius:2px;
	background-color: #fff;
	color: #565a5c;
	vertical-align: middle;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
}


.btn{
	background-color:#55acee;
	color:#fff;
	
}
.navigation{
	position:fixed;
	top:0;
	width:100%;
	background-color:#fff;
	z-index:1;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}
.navigation .container > ul{
	margin:0.4em 0;
}
.navigation .menu{
	text-align:right;
}
.navigation .menu > li{
	border-left:1px solid #f6f6f6;
	margin-left:1em;
	padding-left:1em;
	padding-top:0.4em;
	position:relative;
}


.navigation .menu a{text-decoration:none;}
.navigation .submenu{
	position:absolute;	
	top:38px; /*height of navigation*/
	left:-38px;
	padding-top:10px;
	width:120px;
	box-shadow:0 1px 0px 0 rgba(0, 0, 0, 0.22);
	text-align:left;
}
/*arrow for submenu*/
.navigation .submenu:after{
	border: solid transparent;
	content:"";
	height:0;
	width:0;
	position:absolute;
	
	bottom:100%;
	margin-bottom:-10px;/*padding top of submenu*/
	border-width:13px;
	margin-left:-13px;
	left: 50%;
	border-bottom-color:#fff;/*submenu list color*/
	
}
.navigation .submenu > li{
	display:block;
	background:#fff;
	padding:4px;
}
.navigation .submenu > li > a{
	padding:5px 15px;	
	display:block;
	color:#55acee;
	font-size:0.9em;
}
.navigation .submenu > li > a:hover{
	background-color:#55acee;
	color:#fff;
}
.navigation .submenu > li > a:before{
	float:right;
}

.tweets{
	background-color:#f5f5f5;
	position:relative;
	top:40px;
	padding-top:15px;
}

.tweets .refresh{
	color:#55acee;
	cursor:pointer;
	margin-left:46%;
}
.tweets .hint{
	position: absolute;
	left: 46%;
	top: -15px;

}
.tweets .tweet{
	background-color:#fff;
	border-radius:5px;
	padding:1em;
	color:rgb(86, 90, 92);
	margin-top: 1em;
	margin-bottom:1em;
	
}
.tweets .tweet .message>div{
	margin-top:1em;
}
.tweets .tweet-elapsed, .tweet-user{	
	font-style: italic;
	color:rgb(130, 136, 138);
}
.tweets .tweet-time{
	font-size: 0.8em;
	background-color: rgb(167, 167, 160);
	padding: 0.3em;
	color:#fff;
	margin-left: 1em;
}
.tweets .tweet-user{cursor:pointer;}
.tweets .tweet-user:hover{
	text-decoration:underline;
	color:#55acee;
}
/*user timeline section*/
.tweets .appendedContainer{
	background-color: rgba(227, 224, 226, 0.95);
	position: fixed;
	top:0;
	height:100%;	
	width:100%;
	z-index:10;
	overflow-y:scroll;
	opacity:1;
}
.tweets .appendedContainer .profile{
	width: 220px;
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 5%;
	margin-top: 1em;
	border-radius: 2px;
	text-align:center;
	padding:0;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

.appendedContainer div{
	margin-bottom:10px;
}
.appendedContainer .profile img{
	width:100%;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}
 
.profile .statistics li span{
	font: bold 1.1em sans-serif;
	color: #55acee;
}
/*footer: tweet box*/
.footer{
	position:fixed;
	bottom:-5em;
	width:100%;
	background-color:rgba(0,0,0,0.6);
	padding:1em 0;
	height:5em;
	-webkit-transition: bottom 1s;
	transition: bottom 1s;
}
.footer:hover, .show-footer{
	bottom:0;
}
.footer .tweet-box{
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	text-align:right;
	width:80%;
}

.footer .tweet-box input{
	width:75%;	
	height:40px;
	font-size:1.3em;
}

.footer .tweet-box .tweet-btn{
	border-radius:2px;
	padding:5px 10px;
	height:40px;
}
.footer .footer-switch{
	position:absolute;
	bottom:100%;
	
}
.footer .footer-switch button{
	border:0;
	color:#fff;
	background-color:rgba(0,0,0,0.6);
}
.hint{
	width:150px;
	color:orange;
	border:2px solid orange;
	font-weight:bold;
	text-align:center;
	padding:3px;
	z-index:2;
}
.footer-switch .hint{
	position:absolute;
	top:-130%;
}
.top-btn{
	position:fixed;
	bottom:10%;
	right:10%;
	border-radius:50%;
	width:4rem;
	height:4rem;
	background-color:#55acee;
	text-align:center;
	color:#fff;
	padding-top:5px;
	display:block;
	z-index:2;
}
.top-btn span{
	position: relative;
	top: -3px;
	font-size:1.4em;
}
.top-btn:hover{text-decoration:none;}
.hide{
	visibility:hidden;
	opacity:0;
}
